<article class="task">
  <section class="task-head">
    <h1><%= @task.title %></h1>
    <small>
      <%= link_to 'Изменить', edit_task_path(@task) %>
      |
      <%= link_to 'Удалить', task_path(@task), method: :delete, data: { confirm: 'Вы уверены?' } %>
    </small>
  </section>

  
  <section class="task-body">
    <%= image_tag @task.picture.url(:medium), class: 'img-thumbnail thumb' if @task.picture? %>
    <%= @task.body %>
  </section>
</article>